
  html{
    background-image: linear-gradient(90deg,  #2e2b2b 0%, black 100%);
    
  }
 .intro{
    display:flex;
    flex-direction:column;
    align-items: center;
  
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/introbg.jpeg');
    background-repeat:no-repeat;
    background-size: cover;
 }
 #hi{
    color: #ffffff;
    font-size: 300%;
 }
#name{
    color:rgb(255, 255, 255);
    font-size: 400%;
}
#intro-text{
    color: rgb(255, 255, 255);;
}

.hidden-content{
    display:none;}
.hidden-content.reveal-btn {
     display:block;
}
    
li{
    list-style-type: disc;
}
li::before{
    content: '\2192'; 
    font-size:1em;/* Unicode for a bullet (•) */
    color: #63ceff; /* Your chosen blue color */
    margin-right: 0.5em; /* Add some spacing between the bullet and text */
    

}



a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}


.image-contents{
   display:  flex;
   flex-direction: row;
   align-items:center;
    
}
.image-container{
    transition: opacity 0.3s ease;
    border: rgb(255, 255, 255) 5px solid;
    width: 80%;
    width: calc(80vw ); /* Adjust as needed */
    height: calc((100vw / 2 - 30px) * 1.34); /* Aspect ratio: height = width * 1.34 */
    }
.image-container>img{
   
    width: 100%;
    height: 100%;
  
    object-fit: cover;
}
li{
    color:rgb(255, 255, 255);
    list-style-type:none;
}
.image-content{

/* 100% of viewport height */
    object-fit: cover;

}

    


.image-container:hover+.image-content {
       display:block;

}     


   


header{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 30px;
     padding-top:10px;
    
     color:white;
    
}  
    

  .info-content{
    
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;

   }

   input{border:none;
        border-bottom: 2px solid green;
        background-color: #edf6f9;
        justify-items: stretch;
        outline:none;
    }
   
   button{
    background: #8ecae6;
    border: 3px solid #099ee2;
    border-top-color: none;
  
   } 
.info-content{
    color: #ffffff;
}
   
